// Background Colors
$header-color: #0d1b2aff;
$oxford-blue: #1b263bff;
$bdazzled-blue: #415a77ff;
$primary-color: #778da9ff;
$app-background: #e0e1ddff;

//Font Colors
$white: #ffffff;
$black: #000000;
$grey: #d1d1d1;

//Button
$button-hover: #7085a0;
$button-active: #61738a;
$button-focus: #778da9ff;
$button-outline: #778da9ff;
$disabled-color: #9e9e9e;

//Input
$danger-color-700: #b85302;
$danger-color-400: #f9780d;